<IfModule mod_rewrite.c>

    # Make sure directory listing is disabled
    Options +FollowSymLinks -Indexes
    RewriteEngine on

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    RewriteRule ^([0-9A-Za-z_]+)\/([^/]*)\/(.*)$ index.php?module=$1&controller=$2 [QSA,L,NE]

</IfModule>
